<div class="pageSelector">
    <a href="./productList?page=1<%= filterQuery %>"><i class='bx bxs-chevron-left' ></i></a>
    <div class="pages">
        <% for (var i = 0; i < 5; i++) { %>
            <% if (pageOption[i]) { %>
                <a href="./productList?page=<%= pageOption[i] %><%= filterQuery %>"><%= pageOption[i] %></a>
            <% } else { %>
                <a class="unclickable" href="#"></a>
            <% } %>
        <% } %>
     </div>
    <a href="./productList?page=<%= maxPage %><%= filterQuery %>"><i class='bx bxs-chevron-right'></i></a>
</div>