<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" type="text/css" href="./css/base.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="baseContainer">

        <%- include("./partials/header.ejs") %>
        
        <%- include("./partials/nav.ejs") %>

        <!----------------- CONTAINER PRINCIPAL --------------->
        <main>
            <% if (info) { %>
                <div class="productContainer">
                    <div class="image">
                        <!-- carrossel -->
                    </div>
                    <div class="info">
                            <p id="id"><%= info.id%></p>
                            <p id="name"><%= info.name%></p>
                            <p id="model1"><%= info.model1%></p>
                            <p id="model2"><%= info.model2%></p>
                            <p id="year"><%= info.year%></p>
                            <p id=seats><%= info.seats%></p>
                            <p id="doors"><%= info.doors%></p>
                            <p id="trunkL"><%= info.trunkL%></p>
                            <p id="fuel"><%= info.fuel%></p>
                            <p id="transmission"><%= info.transmission%></p>
                            <p id="steering"><%= info.steering%></p>
                            <p id="ABS"><%= info.ABS%></p>
                            <p id="airbags"><%= info.airbags%></p>
                            <p id="windows"><%= info.windows%></p>
                            <p id="locks"><%= info.locks%></p>
                    </div>

                    <div class="purchase">

                    </div>
                    
                    <div class="description">

                    </div>
                </div>
            <% } else { %>
                <div class="productNotFound">
                    <p>Produto não encontrado</p>
                </div>
            <% } %>
        </main>
        
        <!------------------ FOOTER ------------------->
        <%- include("./partials/footer.ejs") %>
    </div>
</body>
</html>