<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" type="text/css" href="./css/base.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="baseContainer">

        <%- include("./partials/header.ejs") %>
        
        <%- include("./partials/nav.ejs") %>

        <!----------------- CONTAINER PRINCIPAL --------------->
        <main>
            <% if (info) { %>
                <div class="productContainer">
                    <div class="image">
                        <p id="carName"><%= info.name%> <%= info.model1%> <%= info.model2%> <%= info.year%></p>

                        <% if (imgs.length) { %>
                            <div class="main">
                                <img src="<%= imgsPath + imgs[imgDisplay]%>" alt="">
                            </div>
                            <div class="alt">
                                <% for (let i = 0; i < imgs.length; i++) { %>
                                    <a class="altImgs" href="http://localhost:8080/product?id=<%= info.id%>&img=<%= i %>"></a>
                                <% } %>
                            </div>
                        <% } else {%>
                            <div class="main">
                                <p>Imagem indisponível</p>
                            </div>
                        <% } %> 
                        
                    </div>

                    <div class="info">                    
                            <p id="fuel"><strong>Combustível:</strong> <%= info.fuel%></p>
                            <p id="transmission"><strong>Transmissão:</strong> <%= info.transmission%></p>
                            <p id="steering"><strong>Direção:</strong> <%= info.steering%></p>
                            <p id="ABS"><strong>ABS:</strong> 
                            <% if (info.ABS) { %>
                                sim
                            <% } else { %>
                                não
                            <% } %>
                            </p>
                            <p id="airbags"><strong>Airbags:</strong> 
                                <% if (info.airbags) { %>
                                    sim
                                <% } else { %>
                                    não
                                <% } %>
                            </p>
                            <div class="infoIcons">
                                <div>
                                    <img src="./imgs/seatsIcon.png" alt="">
                                    <p><%= info.seats%></p>
                                </div>
                                <div>
                                    <img src="./imgs/doorsIcon.png" alt="">
                                    <p><%= info.doors%></p>
                                </div>
                                <div>
                                    <img src="./imgs/fuelIcon.png" alt="">
                                    <p><%= info.trunkL%>L</p>
                                </div>
                            </div>
                            <a href="#">ALUGAR</a>
                    </div>
                    
                    <div class="description">

                    </div>
                </div>
            <% } else { %>
                <div class="productNotFound">
                    <p>Produto não encontrado</p>
                </div>
            <% } %>
        </main>
        
        <!------------------ FOOTER ------------------->
        <%- include("./partials/footer.ejs") %>
    </div>
</body>
</html>