<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (info) { %>
        <title><%= info.name%> <%= info.model1%> <%= info.model2%> <%= info.year%></title>
    <% } else { %>
        <title>Produto não encontrado</title>
    <% } %>
    <link rel="stylesheet" type="text/css" href="./css/base.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="./js/baseResponsive.js" defer></script>
</head>

<body>
    <div class="baseContainer">

        <%- include("./partials/header.ejs") %>
        
        <%- include("./partials/nav.ejs") %>

        <!----------------- CONTAINER PRINCIPAL --------------->
        <div class="productContainer">
            <div class="image">
                <p id="carName"><%= info.name%> <%= info.model1%> <%= info.model2%> <%= info.year%></p>

                <% if (imgs.length) { %>
                    <div class="main">
                        <img id="mainImage" src="<%= imgsPath %><%= imgs[0] %>" alt="">
                    </div>

                    <div class="alt">
                        <% for (let i = 0; i < imgs.length; i++) { %>
                            <a id="img<%= i %>"></a>
                        <% } %>
                    </div>
                    
                <% } else {%>
                    <div class="main">
                        <p><strong>Imagem indisponível</strong></p>
                    </div>
                    <div class="alt">
                        <a href="" style="visibility: hidden;"></a>
                    </div>
                <% } %> 
                
            </div>

            <div class="info">     
                <p id="price"><span>R$</span><span><%= info.price %></span><span> / Diária</span></p>               
                <div class="infoRow">
                    <span>Combustível:</span>
                    <span><%= info.fuel%></span>
                </div>
                <div class="infoRow">
                    <span>Transmissão:</span>
                    <span><%= info.transmission%></span>
                </div>
                <div class="infoRow">
                    <span>Direção:</span>
                    <span><%= info.steering%></span>
                </div>

                <% if (info.ABS) { %>
                    <div class="infoRow">
                        <span>ABS:</span>
                        <span>sim</span>
                    </div>
                <% } %>
                </p>
                <% if (info.airbags) { %>
                    <div class="infoRow">
                        <span>Airbags:</span>
                        <span>sim</span>
                    </div>
                <% } %>
                </p>
                <div class="infoIcons">
                    <div>
                        <img src="./imgs/seatsIcon.png" alt="">
                        <p><%= info.seats%></p>
                    </div>
                    <div>
                        <img src="./imgs/doorsIcon.png" alt="">
                        <p><%= info.doors%></p>
                    </div>
                    <div>
                        <img src="./imgs/fuelIcon.png" alt="">
                        <p>
                            <%= info.trunkL%>
                            <% if (String(info.fuel) == "Elétrico") { %>
                                kW/h
                            <% } else { %>
                                L
                            <% } %>
                        </p>
                    </div>
                </div>
                <a href="#" id="alugar">ALUGAR</a>
            </div>
            
            <div class="description">
                <% if (descriptionPath) { %>
                    <%- include(descriptionPath) %>
                <% } else { %>
                    <p>Descrição indisponível</p>
                <% } %>
            </div>
        </div>
        
        <!------------------ FOOTER ------------------->
        <%- include("./partials/footer.ejs") %>
    </div>
</body>
<% if (productId) { %>
    <script>
        <% for (let i = 0; i < imgs.length; i++) { %>
            document.getElementById("img<%= i %>").onclick = function() {changeMainImage(<%= i %>)};
        <% } %>

        function changeMainImage(imageNumber) {
            document.getElementById("mainImage").src="<%= imgsPath%>" + imageNumber + ".png";
        }
    </script>
<% } %>
</html>